version: '3.8'

services:
  apache:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lamp_apache
    volumes:
      - ./studenti:/var/www/html
    ports:
      - "80:80"
    depends_on:
      - mysql
    environment:
      - TMDB_API_KEY=c155c2567ed5d4f60645bdcbaf286670

  mysql:
    image: mysql:5.7
    container_name: lamp_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: studenti
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d:ro

volumes:
  db_data: